* {
  font-family: "JetBrainsMono Nerd Font","Noto Color Emoji", sans-serif;
  font-size: 13px;
  color: #ffffff;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 2px solid white;
}

#clock, #battery, #pulseaudio, #network, #workspaces {
  padding: 0 12px;
}
